In [8]:
import numpy as np
import pandas as pd

In [1]:
# tables and variables needed:
# afc_standings - Tm, G, W, L, T, PF, PA, PD, MoV, SoS (columns 1, 2, 3, 5, 6, 7, 8, 9)
# nfc_standings - Tm, G, W/L/T, PF, PA, PD, MoV, SoS
# all_results - all columns (already formatted)
# team_offense - all columns + add PPG as a column -- from scoring_offense table (done except ppg variable)
# team_defense - all columns -- done
# conversions - all columns
# conversions_against - all columns

# Formatting/merging team_offense and team_defense tables:

In [244]:
# need to format some of the tables
# for 'team_offense' and team_defense tables:
def format_to_td(t_name, col_names):
    years = list(range(2010, 2023))
    res_tab = pd.DataFrame(columns=col_names)
    for year in years:
        # read in each table
        tmp = pd.read_csv("C:/Users/12074/Desktop/STATS503/Project/" + str(year) + "_" + t_name + ".csv")
        # get column names
        tmp.columns = tmp.iloc[0].values
        # drop first row with the col names and get rid of first column which is just the index
        tmp = tmp.iloc[1:, 1:]
        # add column for year
        tmp['Year'] = [year]*tmp.shape[0]
        # merge to res_tab
        res_tab = pd.concat([res_tab, tmp], ignore_index=True)
    # rename columns with indicator for offense/defense
    if t_name == "team_offense":
        res_tab.columns = ['O_' + col for col in col_names]
    elif t_name == "team_defense":
        res_tab.columns = ['D_' + col for col in col_names]
    elif t_name == "conversions":
        res_tab.columns = ['O_' + col for col in col_names]
    elif t_name == "conversions_against":
        res_tab.columns = ['D_' + col for col in col_names]
        
    return res_tab

In [155]:
t_name_o = "team_offense"
col_names = ['Rk', 'Tm', 'G', 'PF', 'Yds', 'Ply', 'Y/P', 'TO', 'FL', '1stD', 'Cmp',
       'Att', 'Yds', 'TD', 'Int', 'NY/A', '1stD', 'Att', 'Yds', 'TD', 'Y/A',
       '1stD', 'Pen', 'Yds', '1stPy', 'Sc%', 'TO%', 'EXP', 'Year']
df_o = format_to_td(t_name_o, col_names)

In [161]:
t_name_d = "team_defense"
col_names = ['Rk', 'Tm', 'G', 'PA', 'Yds', 'Ply', 'Y/P', 'TO', 'FL', '1stD', 'Cmp',
       'Att', 'Yds', 'TD', 'Int', 'NY/A', '1stD', 'Att', 'Yds', 'TD', 'Y/A',
       '1stD', 'Pen', 'Yds', '1stPy', 'Sc%', 'TO%', 'EXP', 'Year']
df_d = format_to_td(t_name_d, col_names)
df_d.to_csv("team_defense_merged.csv")

# Formatting/merging afc_standings/nfc_standings tables:

In [191]:
def format_afc_nfc(t_name, col_names):
    years = list(range(2010, 2023))
    res_tab = pd.DataFrame(columns=col_names)
    for year in years:
        tmp = pd.read_csv("C:/Users/12074/Desktop/STATS503/Project/" + str(year) + "_" + t_name + ".csv")
        # get rid of every 5th row with the division name
        tmp.drop(tmp.index[::5], axis=0, inplace=True)
        # get rid of unneeded columns
        tmp = tmp[["Tm", "W", "L", "PF", "PA", "PD", "MoV", "SoS"]]
        # add column for year
        tmp['Year'] = [year]*tmp.shape[0]
        # merge to res_tab
        res_tab = pd.concat([res_tab, tmp], ignore_index=True)
    # write to csv
    res_tab.to_csv(t_name + "_merged.csv")
        
    return res_tab

In [192]:
t_name_afc = "afc_standings"
col_names = ["Tm", "W", "L", "PF", "PA", "PD", "MoV", "SoS", "Year"]
afc_merged = format_afc_nfc(t_name_afc, col_names)
afc_merged

                        Tm   W   L   PF   PA    PD   MoV   SoS  Year
0    New England Patriots*  14   2  518  313   205  12.8   2.6  2010
1           New York Jets+  11   5  367  304    63   3.9   2.5  2010
2           Miami Dolphins   7   9  273  333   -60  -3.8   4.1  2010
3            Buffalo Bills   4  12  283  425  -142  -8.9   4.3  2010
4     Pittsburgh Steelers*  12   4  375  232   143   8.9   1.3  2010
..                     ...  ..  ..  ...  ...   ...   ...   ...   ...
203         Houston Texans   3  13  289  420  -131  -7.7  -0.8  2022
204    Kansas City Chiefs*  14   3  496  369   127   7.5  -1.2  2022
205  Los Angeles Chargers+  10   7  391  384     7   0.4  -1.3  2022
206      Las Vegas Raiders   6  11  395  418   -23  -1.4  -1.1  2022
207         Denver Broncos   5  12  287  359   -72  -4.2  -0.7  2022

[208 rows x 9 columns]

In [194]:
# repeat for nfc
t_name_nfc = "nfc_standings"
col_names = ["Tm", "W", "L", "PF", "PA", "PD", "MoV", "SoS", "Year"]
nfc_merged = format_afc_nfc(t_name_nfc, col_names)
nfc_merged

                       Tm   W   L   PF   PA    PD   MoV   SoS  Year
0    Philadelphia Eagles*  10   6  439  377    62   3.9   0.3  2010
1         New York Giants  10   6  394  347    47   2.9  -0.8  2010
2          Dallas Cowboys   6  10  394  436   -42  -2.6   0.5  2010
3     Washington Redskins   6  10  302  377   -75  -4.7   0.9  2010
4          Chicago Bears*  11   5  334  286    48   3.0   1.1  2010
..                    ...  ..  ..  ...  ...   ...   ...   ...   ...
203       Atlanta Falcons   7  10  365  386   -21  -1.2  -0.9  2022
204  San Francisco 49ers*  13   4  450  277   173  10.2  -2.3  2022
205     Seattle Seahawks+   9   8  407  401     6   0.4  -0.8  2022
206      Los Angeles Rams   5  12  307  384   -77  -4.5   0.5  2022
207     Arizona Cardinals   4  13  340  449  -109  -6.4   0.2  2022

[208 rows x 9 columns]

# Formatting/merging conversions/conversions_against tables:

In [224]:
# can use the same function as to/td
t_name_conv = "conversions"
col_names = ['Rk', 'Tm', 'G', '3DAtt', '3DConv', '3D%', '4DAtt', '4DConv', '4D%',
       'RZAtt', 'RZTD', 'RZPct', 'Year']
conversions_merged = format_to_td(t_name_conv, col_names)
conversions_merged.to_csv("conversions_merged.csv")

In [225]:
conversions_merged

,O_Rk,O_Tm,O_G,O_3DAtt,O_3DConv,O_3D%,O_4DAtt,O_4DConv,O_4D%,O_RZAtt,O_RZTD,O_RZPct,O_Year
0,1.0,Atlanta Falcons,16.0,240.0,112.0,46.7%,15.0,11.0,73.3%,58.0,35.0,60.3%,2010
1,2.0,New Orleans Saints,16.0,217.0,106.0,48.8%,11.0,5.0,45.5%,61.0,31.0,50.8%,2010
2,3.0,Detroit Lions,16.0,242.0,97.0,40.1%,16.0,10.0,62.5%,45.0,29.0,64.4%,2010
3,4.0,New England Patriots,16.0,197.0,95.0,48.2%,14.0,7.0,50.0%,67.0,42.0,62.7%,2010
4,5.0,Pittsburgh Steelers,16.0,218.0,94.0,43.1%,5.0,2.0,40.0%,50.0,24.0,48.0%,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,29.0,Miami Dolphins,17.0,196.0,71.0,36.2%,24.0,13.0,54.2%,50.0,30.0,60.0%,2022
425,30.0,Denver Broncos,17.0,230.0,67.0,29.1%,24.0,12.0,50.0%,36.0,20.0,55.6%,2022
426,31.0,Houston Texans,17.0,221.0,67.0,30.3%,26.0,13.0,50.0%,48.0,23.0,47.9%,2022
427,32.0,Carolina Panthers,17.0,202.0,64.0,31.7%,21.0,12.0,57.1%,46.0,26.0,56.5%,2022
428,NaN,League Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022

In [245]:
t_name_conv_d = "conversions_against"
col_names_d = ['Rk', 'Tm', 'G', '3DAtt', '3DConv', '3D%', '4DAtt', '4DConv', '4D%',
       'RZAtt', 'RZTD', 'RZPct', 'Year']
conversions_against_merged = format_to_td(t_name_conv_d, col_names_d) # problem -- different variables for years 2018-2022
conversions_against_merged.to_csv("conversions_against_merged.csv")

In [246]:
conversions_against_merged

,D_Rk,D_Tm,D_G,D_3DAtt,D_3DConv,D_3D%,D_4DAtt,D_4DConv,D_4D%,D_RZAtt,D_RZTD,D_RZPct,D_Year
0,1.0,New York Giants,16.0,208.0,66.0,31.7%,17.0,9.0,52.9%,47.0,25.0,53.2%,2010
1,2.0,Pittsburgh Steelers,16.0,209.0,70.0,33.5%,16.0,10.0,62.5%,40.0,16.0,40.0%,2010
2,3.0,San Diego Chargers,16.0,208.0,70.0,33.7%,28.0,12.0,42.9%,43.0,27.0,62.8%,2010
3,4.0,New Orleans Saints,16.0,203.0,70.0,34.5%,23.0,15.0,65.2%,45.0,20.0,44.4%,2010
4,5.0,St. Louis Rams,16.0,221.0,74.0,33.5%,12.0,6.0,50.0%,45.0,22.0,48.9%,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,29.0,New Orleans Saints,17.0,233.0,97.0,41.6%,19.0,8.0,42.1%,44.0,22.0,50.0%,2022
425,30.0,Miami Dolphins,17.0,233.0,97.0,41.6%,31.0,15.0,48.4%,59.0,35.0,59.3%,2022
426,31.0,Chicago Bears,17.0,204.0,100.0,49.0%,15.0,6.0,40.0%,62.0,40.0,64.5%,2022
427,32.0,Atlanta Falcons,17.0,220.0,101.0,45.9%,17.0,7.0,41.2%,60.0,33.0,55.0%,2022
428,NaN,League Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022

# Add P/G column for team_offense table:

In [133]:
# first get scoring offense data + merge together for all years
# then join this table to the team_offense_merged table on team, year
years = list(range(2010, 2023))
res_so = pd.DataFrame(columns=['Tm', 'Pts/G'])
for year in years:
    # read in each table
    tmp = pd.read_csv("C:/Users/12074/Desktop/STATS503/Project/" + str(year) + "_scoring_offense.csv")
    # drop unnecessary columns
    tmp = tmp.iloc[:,[2,21]]
    # add column for year
    tmp['Year'] = [year]*tmp.shape[0]
    # merge to res_tab
    res_so = pd.concat([res_so, tmp], ignore_index=True)
    # write to csv
    res_so.to_csv("scoring_offense_merged.csv")

In [134]:
res_so

                      Tm Pts/G    Year
0    Pittsburgh Steelers  23.4  2010.0
1      Green Bay Packers  24.3  2010.0
2       Baltimore Ravens  22.3  2010.0
3          Chicago Bears  20.9  2010.0
4        Atlanta Falcons  25.9  2010.0
..                   ...   ...     ...
450    Arizona Cardinals  20.0  2022.0
451        Chicago Bears  19.2  2022.0
452             Avg Team  21.9  2022.0
453         League Total  21.9  2022.0
454             Avg Tm/G   NaN  2022.0

[455 rows x 3 columns]

In [156]:
# rename year and team columns
df_o.rename(columns = {'O_Tm':'Tm', 'O_Year': 'Year'}, inplace = True)

In [157]:
df_o

,O_Rk,Tm,O_G,O_PF,O_Yds,O_Ply,O_Y/P,O_TO,O_FL,O_1stD,...,O_TD,O_Y/A,O_1stD,O_Pen,O_Yds,O_1stPy,O_Sc%,O_TO%,O_EXP,Year
0,1.0,New England Patriots,16.0,518.0,5820.0,986.0,5.9,10.0,5.0,335.0,...,19.0,4.3,119.0,83.0,766.0,20.0,47.0,5.4,73.64,2010
1,2.0,San Diego Chargers,16.0,441.0,6329.0,1039.0,6.1,29.0,16.0,357.0,...,18.0,4.0,94.0,84.0,677.0,27.0,40.3,14.5,27.47,2010
2,3.0,Philadelphia Eagles,16.0,439.0,6230.0,1038.0,6.0,25.0,12.0,322.0,...,18.0,5.4,116.0,129.0,1101.0,17.0,39.8,11.7,-11.0,2010
3,4.0,Indianapolis Colts,16.0,435.0,6092.0,1088.0,5.6,25.0,8.0,366.0,...,13.0,3.8,87.0,79.0,709.0,26.0,40.2,13.4,28.65,2010
4,5.0,Atlanta Falcons,16.0,414.0,5458.0,1097.0,5.0,17.0,8.0,353.0,...,14.0,3.8,111.0,58.0,598.0,42.0,39.3,9.0,-39.55,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,31.0,Indianapolis Colts,17.0,289.0,5298.0,1103.0,4.8,34.0,14.0,310.0,...,8.0,4.3,91.0,89.0,794.0,26.0,29.2,16.9,-110.46,2022
451,32.0,Denver Broncos,17.0,287.0,5527.0,1078.0,5.1,24.0,9.0,300.0,...,11.0,4.4,105.0,113.0,970.0,29.0,28.6,10.6,-41.62,2022
452,NaN,Avg Team,NaN,370.6,5760.4,1066.8,5.4,22.2,9.1,333.3,...,15.2,4.5,115.2,94.8,780.5,27.9,36.2,11.3,52.1,2022
453,NaN,League Total,NaN,11860.0,184332.0,34136.0,5.4,710.0,292.0,10666.0,...,487.0,4.5,3686.0,3032.0,24976.0,893.0,36.2,11.3,NaN,2022
454,NaN,Avg Tm/G,NaN,21.9,340.1,63.0,5.4,1.3,0.5,19.7,...,0.9,4.5,6.8,5.6,46.1,1.6,36.2,11.3,NaN,2022

In [158]:
# perform the left join
res = df_o.merge(res_so, on=['Tm', 'Year'], how='left')
# write to csv
res_so.to_csv("team_offense_merged.csv")

In [159]:
res

,O_Rk,Tm,O_G,O_PF,O_Yds,O_Ply,O_Y/P,O_TO,O_FL,O_1stD,...,O_Y/A,O_1stD,O_Pen,O_Yds,O_1stPy,O_Sc%,O_TO%,O_EXP,Year,Pts/G
0,1.0,New England Patriots,16.0,518.0,5820.0,986.0,5.9,10.0,5.0,335.0,...,4.3,119.0,83.0,766.0,20.0,47.0,5.4,73.64,2010,32.4
1,2.0,San Diego Chargers,16.0,441.0,6329.0,1039.0,6.1,29.0,16.0,357.0,...,4.0,94.0,84.0,677.0,27.0,40.3,14.5,27.47,2010,27.6
2,3.0,Philadelphia Eagles,16.0,439.0,6230.0,1038.0,6.0,25.0,12.0,322.0,...,5.4,116.0,129.0,1101.0,17.0,39.8,11.7,-11.0,2010,27.4
3,4.0,Indianapolis Colts,16.0,435.0,6092.0,1088.0,5.6,25.0,8.0,366.0,...,3.8,87.0,79.0,709.0,26.0,40.2,13.4,28.65,2010,27.2
4,5.0,Atlanta Falcons,16.0,414.0,5458.0,1097.0,5.0,17.0,8.0,353.0,...,3.8,111.0,58.0,598.0,42.0,39.3,9.0,-39.55,2010,25.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,31.0,Indianapolis Colts,17.0,289.0,5298.0,1103.0,4.8,34.0,14.0,310.0,...,4.3,91.0,89.0,794.0,26.0,29.2,16.9,-110.46,2022,17.0
451,32.0,Denver Broncos,17.0,287.0,5527.0,1078.0,5.1,24.0,9.0,300.0,...,4.4,105.0,113.0,970.0,29.0,28.6,10.6,-41.62,2022,16.9
452,NaN,Avg Team,NaN,370.6,5760.4,1066.8,5.4,22.2,9.1,333.3,...,4.5,115.2,94.8,780.5,27.9,36.2,11.3,52.1,2022,21.9
453,NaN,League Total,NaN,11860.0,184332.0,34136.0,5.4,710.0,292.0,10666.0,...,4.5,3686.0,3032.0,24976.0,893.0,36.2,11.3,NaN,2022,21.9
454,NaN,Avg Tm/G,NaN,21.9,340.1,63.0,5.4,1.3,0.5,19.7,...,4.5,6.8,5.6,46.1,1.6,36.2,11.3,NaN,2022,NaN