In [1]:
import pandas as pd
import numpy as np

In [119]:
# tables needed:
# afc_standings_merged
# nfc_standings_merged
# all_results
# conversions_merged
# team_defense_merged
# team_offense_merged
# conversions_against_merged

In [237]:
# get playoff teams
playoff_teams = pd.read_csv("all_results.csv")
# rename team column
playoff_teams.rename(columns = {'Team':'Tm'}, inplace = True)

In [238]:
playoff_teams

     Unnamed: 0                    Tm  Playoff_Result  Year
0             0     Green Bay Packers               5  2010
1             1   Pittsburgh Steelers               4  2010
2             2         Chicago Bears               3  2010
3             3         New York Jets               3  2010
4             4  New England Patriots               2  2010
..          ...                   ...             ...   ...
157         157     Minnesota Vikings               1  2022
158         158      Baltimore Ravens               1  2022
159         159        Miami Dolphins               1  2022
160         160      Seattle Seahawks               1  2022
161         161  Los Angeles Chargers               1  2022

[162 rows x 4 columns]

In [239]:
# load all other tables
a_s = pd.read_csv("afc_standings_merged.csv")
n_s = pd.read_csv("nfc_standings_merged.csv")
c = pd.read_csv("conversions_merged.csv")
t_o = pd.read_csv("team_offense_merged.csv")
t_d = pd.read_csv("team_defense_merged.csv")
c_a = pd.read_csv("conversions_against_merged.csv")

In [240]:
# rename team column
c.rename(columns = {'O_Tm':'Tm', 'O_Year':'Year' }, inplace = True)
c_a.rename(columns = {'D_Tm':'Tm', 'D_Year':'Year' }, inplace = True)

In [241]:
t_d.rename(columns = {'D_Tm':'Tm', 'D_Year':'Year'}, inplace = True)

In [242]:
# need to row bind nfc and afc standings tables
s = pd.concat([a_s, n_s], ignore_index=True)

In [243]:
# get rid of unnecessary first column for all tables
s = s.iloc[:,1:]
playoff_teams = playoff_teams.iloc[:,1:]
c = c.iloc[:,1:]
t_o = t_o.iloc[:,1:]
t_d = t_d.iloc[:,1:]
c_a = c_a.iloc[:,1:]

In [ ]:
# need to remove special characters (*) from the 'Tm' columns
s['Tm'] = s['Tm'].str.replace('([^\w/ ])', '')

In [251]:
# left join with each table
dfs = [playoff_teams, s, c, c_a, t_o, t_d]
import functools as ft
df_final = ft.reduce(lambda left, right: pd.merge(left, right, on=['Tm', 'Year']), dfs)

In [252]:
df_final

,Tm,Playoff_Result,Year,W,L,PF,PA,PD,MoV,SoS,...,D_Yds.2,D_TD.1,D_Y/A,D_1stD.2,D_Pen,D_Yds.3,D_1stPy,D_Sc%,D_TO%,D_EXP
0,Green Bay Packers,5,2010,10,6,388,240,148,9.3,1.7,...,1838.0,6.0,4.7,82.0,98.0,758.0,25.0,25.3,16.5,199.39
1,Pittsburgh Steelers,4,2010,12,4,375,232,143,8.9,1.3,...,1004.0,5.0,3.0,61.0,86.0,716.0,29.0,25.7,17.3,216.30
2,Chicago Bears,3,2010,11,5,334,286,48,3.0,1.1,...,1441.0,14.0,3.7,88.0,93.0,790.0,11.0,25.0,17.9,168.17
3,New York Jets,3,2010,11,5,367,304,63,3.9,2.5,...,1454.0,11.0,3.6,70.0,74.0,679.0,33.0,26.4,13.9,182.51
4,New England Patriots,2,2010,14,2,518,313,205,12.8,2.6,...,1728.0,10.0,4.2,99.0,84.0,687.0,23.0,30.7,21.0,71.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,Minnesota Vikings,1,2022,13,4,424,427,-3,-0.2,0.1,...,2093.0,18.0,4.5,113.0,111.0,926.0,22.0,41.1,12.0,-104.00
158,Baltimore Ravens,1,2022,10,7,350,315,35,2.1,1.1,...,1566.0,11.0,3.9,91.0,79.0,650.0,26.0,35.8,13.9,-32.38
159,Miami Dolphins,1,2022,9,8,397,399,-2,-0.1,2.0,...,1751.0,15.0,4.1,98.0,84.0,799.0,38.0,37.5,7.6,-66.41
160,Seattle Seahawks,1,2022,9,8,407,401,6,0.4,-0.8,...,2554.0,21.0,4.9,130.0,98.0,818.0,29.0,37.2,12.2,-113.17
161,Los Angeles Chargers,1,2022,10,7,391,384,7,0.4,-1.3,...,2478.0,17.0,5.4,119.0,80.0,762.0,24.0,37.2,11.2,-84.56

In [253]:
df_final.to_csv("final_table.csv")